{% load static %}

<section id="about" class="about-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title">Про Нас</h2>
                        <p>{{ about.text }}</p>
                    </div>
                </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="about-images">
                            <img class="about-main" src={{ about.photo_1.url }} alt="About Main Image">
                            <img class="about-inset" src={{ about.photo_2.url }} alt="About Inset Image">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
